//******************** core ********************
.ui.grid.grid, .row {

	display: block;
	position: relative;
	overflow: hidden;
	.column {
		float: left !important;
		padding: $emSize * 1;
	}
	.row.column, .grid.column {
		float: none !important;
	}

}

.ui.grid.grid.grid.grid.grid.grid.grid {
	margin: $emSize * -1;
	padding: 0;
}

//******************** x-wide column ********************
.ui.grid .column.wide {
	&.two {
		width: 2 / $columnNumber * 100% !important;
	}

	&.three {
		width: 3 / $columnNumber * 100% !important;
	}

	&.four {
		width: 4 / $columnNumber * 100% !important;
	}

	&.five {
		width: 5 / $columnNumber * 100% !important;
	}

	&.six {
		width: 6 / $columnNumber * 100% !important;
	}

	&.seven {
		width: 7 / $columnNumber * 100% !important;
	}

	&.eight {
		width: 8 / $columnNumber * 100% !important;
	}

	&.nine {
		width: 9 / $columnNumber * 100% !important;
	}

	&.ten {
		width: 10 / $columnNumber * 100% !important;
	}

	&.eleven {
		width: 11 / $columnNumber * 100% !important;
	}

	&.twelve {
		width: 12 / $columnNumber * 100% !important;
	}

	&.thirteen {
		width: 13 / $columnNumber * 100% !important;
	}

	&.fourteen {
		width: 14 / $columnNumber * 100% !important;
	}

	&.fifteen {
		width: 15 / $columnNumber * 100% !important;
	}

	&.sixteen {
		width: 16 / $columnNumber * 100% !important;
	}
}

//******************** divided column ********************

.column.grid, .column.row {

	&.one {
		> .column {
			width: 1/1 * 100% !important;
		}
	}

	&.two {
		> .column {
			width: 1/2 * 100% !important;
		}
	}

	&.three {
		> .column {
			width: 1/3 * 100% !important;
		}
	}

	&.four {
		> .column {
			width: 1/4 * 100% !important;
		}
	}

	&.five {
		> .column {
			width: 1/5 * 100% !important;
		}
	}

	&.six {
		> .column {
			width: 1/6 * 100% !important;
		}
	}

	&.seven {
		> .column {
			width: 1/7 * 100% !important;
		}
	}

	&.eight {
		> .column {
			width: 1/8 * 100% !important;
		}
	}
}