//******************** transform ********************
// hack used
//@media only screen and (max-width: $tabletBreakpoint) {
//	.stackable.stackable.stackable.stackable {
//		>.column {
//			width: 100%;
//		}
//	}
//}
//
//@media only screen and (min-width: $tabletBreakpoint) and (max-width: $computerBreakpoint) {
//	.doubling.doubling.doubling.doubling {
//		>.column {
//			width: 50%;
//		}
//	}
//}

//******************** divided column ********************
// ranking: 4-6
.column.grid, .column.row {
	
	&.one {
		> .column {
			width: 1/1 * 100% !important;
		}
	}

	&.two {
		> .column {
			width: 1/2 * 100% !important;
		}
	}

	&.three {
		> .column {
			width: 1/3 * 100% !important;
		}
	}

	&.four {
		> .column {
			width: 1/4 * 100% !important;
		}
	}

	&.five {
		> .column {
			width: 1/5 * 100% !important;
		}
	}

	&.six {
		> .column {
			width: 1/6 * 100% !important;
		}
	}

	&.seven {
		> .column {
			width: 1/7 * 100% !important;
		}
	}

	&.eight {
		> .column {
			width: 1/8 * 100% !important;
		}
	}
}